body {
    background-color: honeydew;
}

hr {
    border-style: dotted none none;
    border-width: thick;
    border-color: gray;
    width: 3%
}

h1 {
    color: #17706e;
    font-family: 'Balsamiq Sans', cursive;
}

h3 {
    color: #17706e;
    font-family: Verdana
}
